* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

header {
    text-align: center;
    background-color: #af4c6d;
    color: white;
    padding: 20px;
}

.foto {
    border-radius: 50%;
    width: 100px; 
    height: 100px;
    object-fit: cover; 
    margin-bottom: 10px; 
}

section {
    background-color: white;
    margin: 20px 0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {
    body {
        padding: 10px;
    }
    section {
        padding: 10px;
    }
}